{
  "$schema": "../../node_modules/@nx/js/src/generators/swc/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "target": "es2021",
    "keepClassNames": true
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "noInterop": true,
    "ignoreDynamic": true
  }
}
