version: 2
updates:
  - package-ecosystem: "pnpm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      pnpm-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: "deps"
      prefix-development: "deps-dev"
      include: "scope"
