.spinner-container{
    -webkit-transition:all linear 0.4s;
    transition:all linear 0.4s;
    padding:16px 38px;
    position: fixed;
    bottom:30px;
    right: 30px;
    z-index: 99999;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    text-align: center;
    opacity: 1;
}

.spinner-container.spinner-center-large{
    /*top: 50%;*/
    /*left: 50%;*/
    margin-bottom: -56px;
    margin-right: -68px;
    bottom: 50%;
    right: 50%;
}

.spinner-container.spinner-center-large.angular-start{
    margin-bottom: 0;
    margin-right: 0;
    bottom: 30px;
    right: 30px;
}

.spinner-container span{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.spinner {
  margin: 0px auto 7px;
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 5px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


.spinner-container.ng-hide-remove.ng-hide-remove-active {
-webkit-transition:none;
transition:none;
}

.spinner-container.ng-hide{
opacity:0;
}