.sidebar .alert-widget{
	border:0px;
	padding:0px;
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	margin-bottom: 25px;
} 

.alert-widget .widget-content ul li{
	border:0px;
}

.sidebar .alert-widget .widget-content ul li{
	border: 0px;
	padding:3px 0px;
}

	.sidebar .alert-widget .widget-content ul{
		padding:15px 22px;
	}

	.sidebar .alert-widget .widget-content ul li a{
		color: #a4a4a4;
		width: 100%;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px; 
		display: inline-block;
		font-size: 14px;
		overflow: hidden;
		display: table;
	}

		.sidebar .alert-widget .widget-content ul li a em{
			font-style: normal;
			text-align: left;
			display: inline-block;
			line-height: 30px;
			padding-left: 7px;
		}

	.sidebar .alert-widget .widget-content ul li a:hover{
		color: #858585;
	}


.sidebar .alert-widget .widget-title{
	border-bottom: 1px solid #f1f5fa;
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 17px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

.sidebar .alert-widget .widget-inner-content{
	padding:25px;
}

.sidebar .alert-widget .form-item input, .sidebar .alert-widget .form-item select{
	background: #fff;
	border:1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	width: 100%;
	padding:0px 10px;
	height: 38px;
	margin:5px 0px;
}

	.sidebar .alert-widget .form-item input.error{
		border:1px solid #d74140;
		background: #fff3f3;
	}

.sidebar .alert-widget .form-item .twitter-typeahead{
	width: 100%;
}

.alert-widget .btn-subscribe{
	width: 100%;
	height: 38px;
	cursor: pointer;
	margin-top: 10px;
	background-color: #c2c2c2;
}

	.alert-widget .btn-subscribe:hover{
		background-color: #989898;
	}

.sidebar .alert-widget i, .sidebar .alert-widget p{
	font-size: 12px;
	line-height: 15px;
	display: inline-block;
	color: #97a4b2;
}

	.sidebar .alert-widget i{
		padding-top: 7px;
	}

	.sidebar .alert-widget p{
		line-height: 15px;
	}

.sidebar .alert-widget .tt-dataset-states{
	background: white;
	border-radius: 2px;
	list-style: none;
	text-align: left;
	background-color: white;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	width: 100%;
}

	.sidebar .alert-widget .tt-dataset-states p{
		font-size: 14px;
	}

.sidebar .alert-widget .tt-dataset-states .tt-suggestion{
	border-radius: 2px;
	padding: 4px 6px;
}

.sidebar .alert-widget .tt-dataset-states .tt-suggestion.tt-cursor, .sidebar .alert-widget .tt-dataset-states .tt-suggestion.tt-cursor p{
	background: #428bca;
	color: #fff;
	cursor: pointer;
}

#subcribe-success-inner-tab{
	display: table;
	width: 100%;
	height: 100%;
}

	#subcribe-success #subcribe-success-inner{
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
		text-align: center;
		padding-bottom: 15px;
		color: #27ae60;
	}

	#subcribe-success-inner i{
		font-size: 55px;
		width: 100%;
		text-align: center;
		padding-bottom: 35px;
		color: #27ae60;
	}



/* New JobAlert Widget Styling */
.widget-adv-job-alert, .sidebar .widget-adv-job-alert{
	position: relative;
	border: 2px solid #d8d8d8;
}

.widget-adv-job-alert #alert-form-container .form-item input, .widget-adv-job-alert #alert-form-container .form-item select{
	border: 0px;
	border-bottom: 2px solid #D8D8D8;
	border-radius: 0px;
	width: 100%;
	height: 38px;
	margin: 5px 0px;
	padding: 0px 10px;
	background: #ffffff;
}

.widget-adv-job-alert #alert-form-container .form-item .twitter-typeahead{
	width: 100%
}

.widget-adv-job-alert #alert-form-container .form-item select:invalid { 
	color: gray; 
}

/* fullwidth layout */
.widget-adv-job-alert #alert-form-container.ja-fw{
	max-width: 1024px;
	margin: auto;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}

.widget-adv-job-alert #alert-form-container.ja-fw .ja-controls{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.widget-adv-job-alert #alert-form-container.ja-fw .form-item{
	flex: 0 1 48%;
	margin: 20px 5px;
}

.widget-adv-job-alert #alert-form-container.ja-fw.ja-fw-odd .form-item:last-child{
	flex: 0 1 97%;
}

.widget-adv-job-alert #alert-form-container.ja-fw .btn-submit{
	width: 30%;
	margin-bottom: 20px;
}

@media only screen and (max-width: 799px) {
  	.widget-adv-job-alert #alert-form-container.ja-fw .form-item{
		flex: 0 1 97%;
		margin: 20px 5px;
	}
}

/* end fullwidth layout */

.widget-adv-job-alert #alert-form-container .form-item input.error, .widget-adv-job-alert #alert-form-container .form-item select.error{
	border: 2px solid #CC0000;
}

.widget-adv-job-alert #alert-form-container .form-item input:focus, .widget-adv-job-alert #alert-form-container .form-item select:focus{
	border-bottom: 2px solid #333333;
	outline: none;
}

.widget-adv-job-alert .terms-box{
	display: flex;
	margin-top: 10px;
}

.widget-adv-job-alert .terms-box label{
	margin-left: 5px;
	font-size: 14px;
	cursor: pointer;
	font-style: italic;
}

.widget-adv-job-alert .btn-submit button{
	width: 100%;
	height: 38px;
	cursor: pointer;
	margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.widget-adv-job-alert .btn-submit button:disabled{
	background: rgba(90,90,90,0.4);
	cursor: not-allowed;
}

.widget-adv-job-alert .cl-alert-loading{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(255,255,255,.5);
}

.widget-adv-job-alert .cl-alert-loading > img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255);
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
}

/* select 2 */
#alert-form-container .select2-container{
	margin: 10px 0px;
}

#alert-form-container .select2-container .select2-selection {
    background: none;
    padding: 5px 0;
}

#alert-form-container .select2-container .select2-selection__arrow {
    display: none;
}

#alert-form-container .select2-container .select2-selection__rendered {
    font-size: 16px;
}

#alert-form-container .select2-container .select2-dropdown {
    border-radius: 0;
}

#alert-form-container .select2-container .select2-results__option {
    padding: 5px 10px;
}

#alert-form-container .select2-container--default .select2-selection--multiple{
	border: none;
	border-bottom: 1px solid #D8D8D8;
	border-radius: 0;
}

#alert-form-container .select2-container .select2-search--inline .select2-search__field{
	font-family: inherit;
	font-weight: 600;
	color: #707070;
}